# Tasks that require semantic versioning info{% raw %}
name: semantic-versioning
on:
  workflow_run:
    workflows: [run-tests]
    types: [completed]
    branches: [main]

jobs:
  call_semantic_versioning:
    uses: ./.github/reusable_workflows/semantic-versioning.yml

  call_mkdocs_build:
    needs: [call_semantic_versioning]
    if: always() && needs.call_semantic_versioning.result == 'success'
    uses: ./.github/reusable_workflows/mkdocs-build.yml
    with:
      new_tag: ${{ needs.call_semantic_versioning.outputs.new_tag }}

  call_sciops_docker_images:
    needs: [call_semantic_versioning]
    if: always() && needs.call_semantic_versioning.result == 'success'
    uses: ./.github/reusable_workflows/sciops-docker-images.yml
    with:
      jhub_ver: "1.4.2"
      py_ver: "3.9"
      dist: debian
      workflow_version: ${{ needs.call_semantic_versioning.outputs.new_tag }}
      release_upload_url: ${{ needs.call_semantic_versioning.outputs.upload_url }}
    secrets:
      RAW_DEPLOY_KEY: ${{ secrets.RAW_DEPLOY_KEY }}
      REGISTRY_USERNAME: ${{ secrets.REGISTRY_USERNAME }}
      REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}

  if_run_tests_failed:
    if: ${{ github.event.workflow_run.conclusion == 'failure' }}
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "The 'run-tests' workflow failed or did not run. Skipping 'semantic-versioning' workflow."
#{% endraw %}
